body {
    background-color: rgb(203, 204, 204);
}

header, main, footer {
    min-width: 555px;
}

header .container, main .container, footer .container {
    /* was originally 555 px */
    max-width: 100%;
    margin: auto;
}

header {
    background-color: rgb(148, 14, 14);
}

header h1 {
    color: aliceblue;
    font-size: 50px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.container hr {
    width: 100%; 
    border-color: black; 
    background: black;
    height: 2px;
}

.nav-bar {
    margin: auto;
    text-align: center;
}

.nav-bar li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    color: aliceblue;
}

.nav-bar ul {
    padding-top: 5px;
    padding-bottom: 20px;
}
